.embla {
  overflow: hidden;
}
.embla__container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  justify-items: center;
  height: 100%;
}

.embla__slide {
  flex: 0 0 auto;
  min-width: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0 !important;
  right: 0 !important;
  transition: opacity 0.5s;
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
}

.boxshadow {
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
  100%, 0.075),
  0 0 0 1px hsla(0, 0%, 0%, 0.05),
  0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
  0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
  0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}

.parentgrid {
  height: 100%;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: auto 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "."
    "."; 
  }
